@font-face {
    font-family: 'Vonnes-mc';
    src: url('../fonts/Vonnes-MediumCond.eot');
    src: url('../fonts/Vonnes-MediumCond.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Vonnes-MediumCond.woff2') format('woff2'),
        url('../fonts/Vonnes-MediumCond.woff') format('woff'),
        url('../fonts/Vonnes-MediumCond.ttf') format('truetype'),
        url('../fonts/Vonnes-MediumCond.svg#Vonnes-MediumCond') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad-Pro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
        url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vonnes-BoldCond';
    src: url('../fonts/Vonnes-BoldCond.eot');
    src: url('../fonts/Vonnes-BoldCond.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Vonnes-BoldCond.woff2') format('woff2'),
        url('../fonts/Vonnes-BoldCond.woff') format('woff'),
        url('../fonts/Vonnes-BoldCond.ttf') format('truetype'),
        url('../fonts/Vonnes-BoldCond.svg#Vonnes-BoldCond') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
    color: #000000;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Vonnes-mc';
}

.cmn-heading {
    padding: 10px 0 40px 0;
    font-family: 'Vonnes-BoldCond';
    text-transform: uppercase;
    margin: 0;
    font-size: 36px;
    text-align: center;
    color: #000000;
    position: relative;
}

.cmn-heading::after {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
    z-index: 99;
    background: #000;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px 0;
    z-index: 999;
    width: 100%;
}

header .mainlogo {
    max-width: 220px;
}

.show768 {
    display: none;
}

.get-query-sec {
    width: 100%;
    max-width: 450px;
    padding-top: 20%;
}

.get-query-sec h3 {
    font-size: 50px;
    color: #f89c1c;
    font-family: 'Vonnes-BoldCond';
    text-transform: uppercase;
}

.get-query-sec h3 span {
    display: block;
    color: #0393c9;
    font-size: 45px;
}

.get-query-sec p {
    margin: 0;
    padding: 15px 0;
    font-size: 20px;
}

.getquery {
    margin: 10px 0;
    padding: 15px;
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.19);
    background: #fff;
}

.getquery h4 {
    font-size: 20px;
    padding: 5px 0 10px;
}

.getquery input,
.getquery input:focus,
.getquery button,
.getquery button:focus {
    box-shadow: none;
    outline: 0;
    border-radius: 0;
    height: auto;
    padding: 10px;
}

.getquery .submit-btn {
    padding: 10px;
    background: #000;
    transition: all ease-in-out 0.2s;
    border: 1px solid transparent;
    font-size: 18px;
    display: block;
    color: #fff;
    width: 100%;
}

.getquery .submit-btn:hover {
    color: #000;
    background: #fff;
    border-color: #000;
}

.getquery .view-reward {
    padding: 10px;
    background: #0493c9;
    transition: all ease-in-out 0.2s;
    border: 1px solid transparent;
    font-size: 18px;
    display: block;
    color: #fff;
    width: 100%;
}

.getquery .view-reward:hover {
    color: #0493c9;
    background: #fff;
    border-color: #0493c9;
}

.get-rewarded {
    background: url(../images/main-banner.jpg) no-repeat top right;
    min-height: 850px;
    background-size: auto 100%;
    position: relative;
}

.poweredby div {
    margin: 0 5px;
    position: relative;
}

.poweredby div:nth-child(2):after,
.poweredby div:nth-child(3):after {
    content: '';
    z-index: 9;
    top: 10px;
    right: -11px;
    width: 1px;
    height: 25px;
    background: #a98077;
    position: absolute;
}

.poweredby div:nth-child(3):after {
    right: 2px;
}

.poweredby p {
    margin: 0 10px 0 10px;
}

.poweredby img {
    max-width: 200px;
    max-height: 40px;
}

.exciting-rewards {
    padding: 80px 0 100px;
    background-image: url(../images/patch3.jpg);
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    background-size: 50px auto;
}

.leftpatch {
    position: absolute;
    left: 0;
    top: -170px;
    width: 70px;
    z-index: 9;
}

.exciting-rewards .shadowtext {
    width: 50%;
    margin: 30px auto;
    background: url(../images/hreading-bg.jpg) no-repeat center center;
    background-size: 100% 100%;
    min-width: 420px;
}

.exciting-rewards .shadowtext .width-shadow {
    margin: 0;
    padding: 12px 0px 20px;
    color: #fff;
    text-transform: uppercase;
    line-height: normal;
    font-size: 27px;
    display: inline-block;
    vertical-align: text-bottom;
}

.rewards-sec .custcol p {
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 10px 0;
    color: #000000;
}

.rewards-sec img {
    width: 100%;
    padding: 10px;
}

.cust-nav {
    margin: 10px 0;
    border: none;
    box-shadow: none;
}

.cust-nav .nav-item {
    border: none;
    border-right: 0;
    margin: 5px 8px;
    color: #0794ca;
}

.cust-nav .nav-item .nav-link {
    color: #000000;
    line-height: normal;
    border: 1px solid #0794ca;
    border-radius: 0;
    height: auto;
    font-size: 16px;
    position: relative;
}

.cust-nav .nav-item .nav-link.active {
    background: #0794ca;
    color: #fff;
}

.cust-nav .nav-item .nav-link.active::after {
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    z-index: 9;
    bottom: -18px;
    left: 40%;
    color: #0794ca;
    font-size: 29px;
}

.cmn-table,
.cmn-table th,
.cmn-table td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    font-size: 16px;
    font-weight: normal;
}

.cmn-table th {
    background: #f8a32c;
    font-size: 16px;
    color: #000000;
}

.cmn-table td:first-child {
    width: 80px;
    background: #f3f3f3;
}

.terms-and-conditions {
    padding: 30px 0;
    background: url(../images/termspatch.jpg) top 0 left 0 no-repeat;
}

footer {
    background: #000000;
    padding: 14px 0;
    color: #fff;
}

footer p {
    margin: 0;
    color: #9c9696;
    font-size: 14px;
    line-height: 14px;
}

.social a {
    padding: 3px 0;
    border: 1px solid #ddd;
    transition: all ease-in-out 0.2s;
    line-height: normal;
    background: transparent;
    text-align: center;
    color: #fff;
    margin: 0 5px;
    width: 30px;
    height: 30px;
}

.social a:hover {
    background: #fff;
}

.social a:hover .fa {
    color: #000;
}

.social a .fa {
    font-size: 18px;
}

/*--------- Responsive style ------------*/
@media only screen and (min-width: 1380px) {
    .poweredby {
        justify-content: flex-end !important;
    }
}

@media only screen and (max-width: 1220px) {
    .get-query-sec {
        padding-top: 20%;
    }

    .leftpatch {
        top: -30px;
        width: 40px;
    }
}

@media only screen and (max-width: 1024px) {
    .get-rewarded {
        min-height: auto;
        background-size: auto 100%;
    }

    .poweredby div:first-child {
        width: 200px;
    }
}

@media only screen and (max-width: 992px) {
    .exciting-rewards .shadowtext {
        width: 100%;
    }
}

header .mainlogo {
    max-width: 150px;
}

.get-query-sec h3,
.get-query-sec h3 span {
    font-size: 35px;
}

@media only screen and (max-width: 850px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    .get-rewarded {
        background-size: auto 75%;
    }

}

@media only screen and (max-width: 768px) {
    .get-rewarded {
        background-image: none;
        background-color: #fff;
    }

    .get-query-sec {
        padding-top: 0;
        max-width: 100%;
        padding: 30px 0;
        text-align: center;
    }

    header {
        position: static;
        padding: 0;
        margin: 0;
    }

    .poweredby {
        background: #f89c1c;
    }

    header .mainlogo {
        max-width: 100px;
    }

    .hide768 {
        display: none;
    }

    .show768 {
        display: block !important;
    }

    .rewards-sec .custcol {
        border: 1px solid #ddd;
        margin: 10px;
        min-width: 40% !important;
        max-width: 50%;
        padding: 0;
    }

    .rewards-sec .custcol p {
        border-top: 1px solid #ddd;
    }

    .exciting-rewards {
        padding: 40px 0 50px;
    }

}

@media only screen and (max-width: 760px) {
    .container {
        max-width: 100%;
    }

    .cust-nav .nav-item {
        margin: 8px 3px;
    }

    .cmn-table {
        margin: 0;
    }

    .table2 tr:first-child {
        display: none;
    }

    .cust-nav .nav-item .nav-link {
        font-size: 12px;
    }

    .cmn-table,
    .cmn-table th,
    .cmn-table td {
        font-size: 14px;
    }

}

@media only screen and (max-width: 578px) {

    .get-query-sec h3,
    .get-query-sec h3 span {
        font-size: 30px;
    }

    .get-query-sec p {
        font-size: 16px;
        line-height: normal;
    }

    .getquery h4 {
        font-size: 18px;
    }

    .getquery .submit-btn,
    .getquery .view-reward,
    .getquery input,
    .getquery input:focus,
    .getquery button,
    .getquery button:focus {
        padding: 7px;
    }


    footer {
        text-align: center;
    }

    .social {
        text-align: center;
        justify-content: center !important;
        margin-top: 15px;
    }

    .exciting-rewards .shadowtext {
        max-width: 100%;
        min-width: 100%;
        background: #0794ca;
    }

    .exciting-rewards .shadowtext .width-shadow {
        font-size: 18px;
        padding: 10px 0;
    }

    .terms-and-conditions {
        background: #fff;
    }

    .cmn-heading {
        font-size: 22px;
        line-height: normal;
    }

    .terms-and-conditions p {
        font-size: 14px;
        line-height: 22px;
    }

    .cmn-heading::after {
        bottom: 30px;
        width: 40px;
        height: 1px;
    }
}